
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Page 404</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

 

    <meta name="theme-color" content="#fafafa" />
 
  </head>
  <body>
    <center>
     <main>
      <section>
        
        <center>
        <div class="message">
          <div class="page-title">
            <img src="fonts/img/LOGO HYDRAULIQUE & ELECTRICITÉpsd.png" alt="" style="width: 300px;">
        
            <h2 class="title">Page 404</h2>
            <span>la page n'est pas trouvée"</span>
            <br />
          </div>
        </div>
      </center>
      </section>
    </main>
    <center>
    <script src="/fonts/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
